

.brandbar {text-align:center; background-color: #333; margin: 1em 0em 0em;}
		.brandbar a{color:#fff; clear: none}
.page{padding:.5em;background-color: #C0C0C0; border-radius: 6px; margin: .5em; }
.titlebar {padding:1em; background-color: #FFFFFF; margin: 1em 0em 0em;}
		.site-title  {text-align: center; font-size:2em;}
nav ul {margin:0; padding:0; list-style: none;}

body{
	background-image:url('NDBackground2.jpg');
	background-repeat: no-repeat;
	background-position: right top;
	margin: 0em;
}
p{
	border: 1px solid #000000;
	padding: 1em;
	background-color: #ffffff;
}

img{
	/*padding: 1em;*/
}



.logo{
	float: right;
	-webkit-animation: spinLogo 3s linear infinite alternate;
}

@-webkit-keyframes spinLogo {
	0% {-webkit-transform: rotateY(180deg);}
	100% {-webkit-transform: rotateY(0deg);}
	
}

@media only screen and (min-width:300px) {
	.brandbar {overflow:hidden;}
		.pageND {float:left;}
		.page1 {display:block; float: right;}
		.page2 {display:block; float: right;}
		.page3 {display:block; float: right;}
		
		}